header {
  position: fixed;
  overflow: hidden;
  padding: 1.2rem;
  background-color: rgb(243, 235, 218);
  z-index: 1;
  width: 100%;
}

.logo {
  max-width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  margin-left: 1.2rem;
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

.main-nav-list {
  justify-content: right;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: rgba(0, 0, 128, 0.568);
  transition: all 0.4s;
}

.main-nav-link.nav-profile:link,
.nav-profile:visited {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  background-color: rgba(0, 0, 128, 0.671);
  border-radius: 0.9rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: red;
}

.main-nav-link.nav-profile:hover,
.nav-profile:active {
  background-color: rgba(116, 116, 236, 0.712);
  color: #fff;
}

body.active-modal {
  overflow-y: hidden;
}