.main-container2 {
  overflow: hidden;
  max-width: 100%;
  background-color: #fff;
}

.container {
  padding: 6.8rem 0rem 3.4rem;
  max-width: 130.2rem;
  margin: 0 auto;
  height: 100%;
}
.primary-heading {
  align-items: center;
  font-size: 6.2rem;
  color: navy;
  padding: 6.4rem 0 6.4rem 0;
}
